/* FORMACAO */

.formacao {
  position: relative;
  display: grid;
  background-color: #181a23;
  width: 100%;
  margin: 0 auto;
  height: 1100px;
}

.formacao-container {
  margin-top: 100px;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  justify-self: center;
  margin: 0 auto;
  padding: 100px 20px;
}

.formacao-descricao {
  display: grid;
  gap: 60px;
}

.formacao-titulo {
  color: #000;
  font-family: "Playfair Display", serif;
}

.resumo {
  color: #989ea6;
  font-size: 1.5rem;
  line-height: 1.33;
}

.graduacao {
  display: grid;
  gap: 10px;
  background-color: #000;
  border-radius: 5px;
  color: #f5f7fa;
  width: max-content;
}
.graduacao div {
  padding: 20px;
}
.graduacao p {
  font-size: 1rem;
  padding: 10px;
  color: #a3a3a3;
}

.graduacao span {
  font-size: 1.5rem;
  padding: 10px 10px;
}

.graduacao span::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 20px;
  right: 820px;
  background: linear-gradient(180deg, #7adfff 0%, #1cacda 100%);
}

.cursos {
  display: grid;
  color: #f5f7fa;
  gap: 20px;
}

.cursos img {
  position: absolute;
  left: 390px;
  top: 445px;
}

.cursos h4 {
  color: #8f8f8f;
}

.cursos li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.idioma {
  display: grid;
  color: #f5f7fa;
  gap: 20px;
}

.idioma img {
  position: absolute;
  left: 390px;
  top: 935px;
}

.idioma h4 {
  color: #8f8f8f;
}

.idioma li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.detalhe {
  position: absolute;
  top: 1030px;
  left: -2px;
  z-index: 9;
  margin-bottom: 1000px;
}

@media (max-width: 800px) {
  .formacao {
    height: 1200px;
  }
  .formacao-container {
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
  }
  .formacao-titulo {
    font-size: 5rem;
    color: #f5f7fa;
  }
  .graduacao {
    justify-self: center;
  }
}

@media (max-width: 600px) {
  .formacao-titulo {
    font-size: 3rem;
  }

  .formacao-container p {
    font-size: 1.2rem;
  }
  .graduacao {
    width: inherit;
  }

  .graduacao span {
    font-size: 1.3rem;
  }
  .detalhe {
    display: none;
  }
}
