/* FORMACAO */

.formacao {
  position: relative;
  display: grid;
  background-color: #181a23;
  width: 100%;
  margin: 0 auto;
  height: 1100px;
  margin-top: 160px;
}

.formacao-container {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  justify-self: center;
  margin: 0 auto;
  padding: 100px 20px;
}

.formacao-descricao {
  display: grid;
  gap: 60px;
}

.formacao-titulo {
  color: #000;
  font-family: "Playfair Display", serif;
}

.resumo {
  color: #989ea6;
  font-size: 1.5rem;
  line-height: 1.33;
}

.graduacao {
  display: grid;
  gap: 10px;
  background-color: #000;
  border-radius: 5px;
  color: #f5f7fa;
  width: max-content;
}
.graduacao div {
  padding: 20px;
}
.graduacao p {
  font-size: 1rem;
  padding: 10px;
  color: #a3a3a3;
}

.graduacao span {
  position: relative;
  font-size: 1.5rem;
  padding: 10px 10px;
}

.graduacao span::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 20px;
  left: -24px;
  background: linear-gradient(180deg, #7adfff 0%, #1cacda 100%);
}

.cursos {
  display: grid;
  color: #f5f7fa;
  gap: 20px;
}



.cursos h4 {
  color: #8f8f8f;
  position: relative;
}

.cursos h4::before{
  position: absolute;
  content: "";
  background: url(/img/cursos.svg) no-repeat center;
  display: block;
  width: 24px;
  height: 24px;
  left: -30px;
  top: -5px;
}

.cursos li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.idioma {
  display: grid;
  color: #f5f7fa;
  gap: 20px;
}

.idioma h4 {
  color: #8f8f8f;
  position: relative;
}

.idioma h4::before{
  position: absolute;
  content: "";
  background: url(/img/idiomas.svg) no-repeat center;
  display: block;
  width: 24px;
  height: 24px;
  left: -30px;
  top: -5px;
}

.idioma li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.detalhe {
  position: absolute;
  top: 1030px;
  left: -2px;
  z-index: 9;
  margin-bottom: 1000px;
}

.formacao::after{
  content: "";
  display: block;
  position: absolute;
  background: url(img/detalhe.svg) no-repeat center;
  width: 140px;
  height: 140px;
  top: 1035px;
  z-index: 9;
}

@media (max-width: 1000px) {
  .formacao-container {
    padding-top: 160px;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
  }
  .formacao-titulo {
    font-size: 5rem;
    color: #f5f7fa;
  }
  .graduacao {
    justify-self: center;
  }

  .cursos {
    padding-left: 20px;
  }

  .cursos li {
    padding: 5px 0;
  }

  .idioma {
    padding-left: 20px;
  }
}

@media (max-width: 700px) {
  .formacao-titulo {
    font-size: 3rem;
  }

  .formacao-container p {
    font-size: 1.2rem;
  }
  .graduacao {
    width: inherit;
  }

  .graduacao p {
    font-size: 0.8rem;
  }

  .graduacao span {
    font-size: .9rem;
  }
}
